/*
** reset only whats necessary
*
*
* Resets 
 -------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
*
*
* General variables
** NOTE: for consistency
** Generate variables for you fonts and colors
** modify the onces I genetated for you
** always work on your projects thinking that one
** day you would like to share and scale them up
*/
:root{
    --fs-xm: 14px;
    --fs-base: 16px;

    --text-color-primary: #000000;
    --text-color-seconddary: #525252;
    
}

/*
NOTE: article to Inheritance
* https://web.dev/learn/css/inheritance/ 
* font-family is a Inheritance element 
* which you will have all around you website
* complete these following properties
* 
*/
body {
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: ; */
    /* letter-spacing: ; */
    /* word-spacing: ; */
    /* line-height: ; */
    
}

/* 
** Use classes for yout semantic HTML elements
** do not target the semantic element to avoid conflicts in 
** your code in the future since you know other semantic elements can have
** Header tags. this rule applies for every single HTML elements unless
** That's why we use resets and files liek normalized.css
*
*
*
** Artcile to read About normalize.css
** https://nicolasgallagher.com/about-normalize-css/
*/
header {
    background-color: #f63232;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

/* 
* I havent check the code below these line
* Once you finish and learn about the top topic let me know
*/

header h1 {
    color: #ffffff;
    border: 8px solid white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 38px;
}

.banner img {
    max-width: 100%;
}

.banner {
    position: relative;
}

.banner .welcome {
    position: absolute;
    left: 0;
    top: 30%;
    background-color: #feb614;
    padding: 30px;
    color: #ffffff;
    
}

.banner h2 {
    font-size: 73px;
}
.banner h2 span {
    font-size: 1.3em;
}

nav {
    background-color: #f4f4f4;
    padding: 20px;
    position: sticky;
    top: 83px;
}

nav ul {
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}

nav ul li {
    width: 25%;
    font-size: 24px;
    display: inline-block;
}

nav li a {
    text-decoration: none;
    color: #4b4b4b;
    transition: 0.5s;
}

nav li a.join {
    color: #f63232;
}

main {
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}

article h2 {
    color: #f63232;
    font-size: 45px;
}

article p {
    line-height: 2em;
    color: #4b4b4b;
}

.images {
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
}

.images li {
    display: inline-block;
    width: 40%;
    margin: 20px 5%;
}

.images li img {
    max-width: 100%;
}

section.join {
    background-color: #f4f4f4;
    text-align: center;
    padding: 60px 20px;
    color: #4b4b4b;
}
.join h2 {
    font-size: 34px;
}
.join p {
    margin-top: 20px;
}
form input {
    margin: 30px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28px;
    border: 4px solid white;
}


footer {
    background-color: #f63232;
    color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

/*pseudo classes*/

nav li a:hover {
    text-decoration: underline;
}

.images li:hover {
    position: relative;
    top: -4px;
}

form input:focus {
    border: 4px dashed #4b4b4b;
    outline: none;
}
form input:valid {
    border: 4px solid #71d300;
}
form input:invalid {
    border: 4px solid rgb(255, 0, 0)
}

article p::first-line {
    font-weight: bold;
    font-size: 1.2em;
}

p::selection {
    background-color: #f63232;
    color: #ffffff;
}

/*media queries -responsive styles */

@media screen and (max-width: 1100px) {
    .banner .welcome h2 {
        font-size: 40px;
  } 
  nav ul li {
    font-size: 18px;
  }
}

@media screen and (max-width: 900px) {
    .banner .welcome h2 {
        font-size: 30px;
    }

  }
  @media screen and (max-width: 500px) {
    .banner .welcome {
        position: relative;
        text-align: center;
        padding: 10px;
    } 
    .banner .welcome br {
        display: none;
    }
    .banner .welcome h2 {
        font-size: 20px;
    }
    .banner h2 span {
        font-size: 1em;
    }
    .images li {
        display: block;
        width: 100%;
        margin: 20px auto;
    }
    nav ul li {
     font-size: 18px;   
     width: 100%;
     margin: 12px 0;
     display: block;
    } 
    header {
        position: relative;
    }
    nav {
        top: 0;
    }
    

}